<div class="main-container vw-100 d-flex px-5 py-2">
    <div class="post-container d-flex flex-column flex-grow-1 gap-2 px-2 w-50">
        <div class="card mt-5">
            <div class="card-body">
                <h5 class="card-title">Create Subreddit</h5>
                <hr>
                <form [formGroup]="subredditForm" (ngSubmit)="onCreate()">
                    <div class="form-group">
                      <input type="text" class="form-control" id="title" placeholder="Subreddit Title" formControlName="name">
                    </div>
                    <div class="form-group mt-2 mb-2">
                      <textarea class="form-control" id="description" placeholder="Enter Description" formControlName="description"></textarea>
                    </div>
                    <button type="submit" class="btn fill-bttn">Create</button>
                    <button class="btn bttn ms-2" (click)="onDiscard()">Discard</button>
                </form>
            </div>
        </div>
    </div>
</div>
