.card-box {
    min-width: 500px;
    width: auto !important;
    width: 500px;
}
.auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px)
}

@media screen and (max-width: 510px) {
    .card-box {
        width: 100%;
        min-width: auto;
    }
}
